<h1>Welcome to the scrabble word calculator!</h1>
  <form action="/scrabble">
    <div class="form-group">
      <label for="scrabble">Enter your word here</label>
      <input type="text" name="scrabble" class="form-control" id="scrabble">
    </div>
    <button type="submit" class="btn-success">bogus</button>
  </form>
